.parent {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

.containers {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 35vw;
  height: 100vh;
  background-image: url("./assets/pageimg.png");
}
.sideContainer {
  width: 65vw;
  height: 100vh;
  background-color: #fafafa;
}
h2 {
  color: #413fac;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 0px 120px;
}
.formFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label {
  font-size: 13px;
  font-weight: 600;
  margin: 10px 0;
  color: darkgray;
}
input {
  outline: none;
  border: 0;
  width: 675px;
  height: 50px;
  border-radius: 6px;
  padding: 0px 14px;
  font-size: 14px;
}
.submitButton {
  width: 710px;
  height: 45px;
  border-radius: 28px;
  opacity: 0px;
  background:#413fac;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 45px 0;
  cursor: pointer;
}
.bottomPieces {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.oAuth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 150px;
}
.authBoxes {
  width: 230px;
  height: 50px;
  border: 1px solid darkgreen;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.orText {
  font-size: 11px;
  color: gray;
  font-weight: 600;
  min-width: 100px;
  text-align: center;
}
.orTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.flatBorder {
  border: 0.1px solid darkgreen;
  width: 354px;
  height: 0px;
}
.passwordHideShow {
  position: relative;
  bottom: 35px;
  left: 660px;
  cursor: pointer;
}
